---
services:
  aws.greengrass.Nucleus:
    configuration:
      awsRegion: "<region>"
      greengrassDataPlaneEndpoint: ""
      iotCredEndpoint: "xxxxxxxx.credentials.iot.<region>.amazonaws.com"
      iotDataEndpoint: "xxxxxxxx.iot.<region>.amazonaws.com"
      iotRoleAlias: "GreengrassV2TokenExchangeRoleAlias"
      runWithDefault:
        posixShell: "sh"
        posixUser: "ggc_user:ggc_group"
    dependencies: []
    version: "2.5.6"